<div id="<%= dom_id system_requirement %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= system_requirement.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Operational system:</strong>
    <%= system_requirement.operational_system %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sotorage:</strong>
    <%= system_requirement.sotorage %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Processor:</strong>
    <%= system_requirement.processor %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Memory:</strong>
    <%= system_requirement.memory %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Video board:</strong>
    <%= system_requirement.video_board %>
  </div>
</div>
