<nav class="bg-gray-800 p-4 text-white flex justify-between items-center">
  <div>
    <%#= link_to 'Home', root_path, class: "font-bold text-lg hover:text-gray-300" %>
  </div>

  <div class="space-x-4">
    <% if user_signed_in? %>
      <span>Olá, <%= current_user.email %></span>
      <%= link_to 'Requisitos do Sistema' , system_requirements_path, class: "hover:text-gray-300" %>
      <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "hover:text-gray-300" %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path, class: "hover:text-gray-300" %>
      <%= link_to 'Registrar', new_user_registration_path, class: "hover:text-gray-300" %>
    <% end %>
  </div>
</nav>