<div id="<%= dom_id game %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Mode:</strong>
    <%= game.mode %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Release date:</strong>
    <%= game.release_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Developer:</strong>
    <%= game.developer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">System requirement:</strong>
    <%= game.system_requirement_id %>
  </div>
</div>
